@import "variable.styl"

body, html
  line-height: 1
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'PingFangSC-Regular', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif!important
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  -webkit-font-smoothing: antialiased
  min-width: 320px
  width: 100%
  height: 100%
