// ----颜色
$color-background = #fafafa
$color-text = #444444
$color-header-theme = #607D8B
$color-header-text = #fff
$color-main-border = #e9e9e9
$color-main-title = rgba(0 ,0 ,0, 0.85)
$color-main-body = rgba(0, 0, 0, 0.65)


$color-c = #0093D3
$color-m = #CC006B
$color-y = #FFF10C
$color-k = #333333
$color-r = #ff0000
$color-g = #008000
$color-b = #0000ff
